body {
    margin: auto;
    padding: auto;
    min-width: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.left-arrow-1 {
    position: absolute;
    left: 7vw;
    top: 20px;
}

.left-arrow-2 {
    position: absolute;
    left: 23vw;
    top: 73px;
}

.left-arrow-3 {
    position: absolute;
    left: 13vw;
    top: 210px;
}

.right-arrow-1 {
    transform: rotate(180deg);
    position: absolute;
    right: 23vw;
    top: 73px;
}

.right-arrow-2 {
    transform: rotate(180deg);
    position: absolute;
    right: 13vw;
    top: 210px;
}

.right-dots {
    position: absolute;
    right: 7vw;
    top: -34px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 66px;
}

.header span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 21px;
}

.section-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 28px;
}

.section-header {
    margin-bottom: 19px;
}

.section-header span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 21px;
    text-transform: uppercase;
}

.sections {
    width: 60%;
    /* margin-right: 335px; */
    /* margin-left: 335px; */
}

.section-content span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.protection-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}

.protection-notice span {
    font-family: Lato;
    font-style: normal;
    font-size: 42px;
    line-height: 21px;
}

.disclaimer-dash {
    height: 1px;
    background: #E4E4E4;
    margin-top: 58px;
    margin-bottom: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFF;
    margin-top: 109px;
    position: relative;
    width: 100%;
}

.footer-right-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 61px 50vw 0 0;
    border-color: transparent #F2F6FF transparent transparent;
    position: absolute;
    top: -61px;
    right: 0;
}

.footer-left-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 61px 0 0 50vw;
    border-color: transparent transparent transparent #F9FAFF;
    position: absolute;
    top: -61px;
    left: 0;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 109px;
}

.footer-list-dot {
    height: 6px;
    width: 6px;
    background-color: #E83136;
    border-radius: 50%;
    margin-left: 18px;
    margin-right: 18px;
}

.footer-list a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.statements-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E9EDF8;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    margin-top: 42px;
    /* margin-left: 235px; */
    /* margin-right: 235px; */
}

.asterisk {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #E83136;
}   

.statements-block > span:first-child {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-top: 23px;
    margin-right: 30px;
    margin-bottom: 60px;
    margin-left: 30px;
}

.copyright-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.copyright-block span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.purpose-item img {
    margin-right: 16px;
}

@media screen and (max-width: 1024px) {
    .header span {
        font-size: 30px;
    }
    .sections {
        width: 90%;
    }
    .protection-notice span {
        font-size: 36px;
    }
    .footer-list {
        flex-direction: column;
        margin-top: 0;
    }
    .statements-block {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 532px) {
    .protection-notice span {
        font-size: 26px;
    }
}

@media screen and (max-width: 394px) {
    .protection-notice span {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .left-arrow-1, .left-arrow-2, .left-arrow-3, .right-arrow-1, .right-arrow-2, .right-dots {
        display: none;
    }
}