body {
    margin: auto;
    padding: auto;
    min-width: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 21px;
    padding: 50px;
}

.video-block {
    width: 970px;
    height: 580px;
    background: #FAFCFF;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
}

.product-container {
    display: flex;
    justify-content: center;
}

.product-header {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 83px;
    margin-right: 84px;
}

.product-header span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 21px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 534px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    margin-top: 75px;
    margin-right: 30px;
    margin-left: 30px;
}

.product-image-wrapper {
    width: 330px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFB;
    border-radius: 10px;
}

.product-discount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 28px;
    background: #E83136;
    border: 1px solid #E83136;
    box-sizing: border-box;
    border-radius: 60px;
}

.product-discount span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.product-discounted-price {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.product-original-price {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.product-discounted-price span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 21px;
}

.product-original-price span {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: line-through;
    color: #E83136;
}

.add-to-cart-wrapper {
    display: flex;
    position: relative;
}

.cart-logo {
    position: absolute;
    left: -38px;
}

.add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 286px;
    height: 54px;
    background: #E83136;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 28px;
    margin-bottom: 25px;
    cursor: pointer;
}

.add-to-cart-button span {
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 7px;
}

.add-to-cart-button img {
    font-size: 18px;
}

.product-best-value-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #E83136;
    border-radius: 20px;
    margin-top: 34px;
}

.product-best-value-header {
    display: flex;
    justify-content: center;
    align-items: center;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
}

.product-best-value-header span {
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 17px;
}

.product-best-value-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 534px;
    background: #FFFFFF;
    border: 2px solid #E83136;
    box-sizing: border-box;
    border-radius: 20px;
}

.payment-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: 64px;
    margin-top: 37px;
}

.we-accept-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 560px;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    margin-right: 19px;
}

.we-accept-block span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.shipping-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 395px;
    height: 64px;
    background: rgba(247, 152, 29, 0.08);
    border: 2px solid rgba(247, 152, 29, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
}

.shipping-block span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    text-transform: uppercase;
    margin-left: 24px;
}

.comma-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.testimonial-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 38px;
}

.testimonial-header {
    text-align: center;
}

.testimonial-block span {
    font-family: Lato;
    font-style: normal;
    font-size: 48px;
    line-height: 21px;
}

.testimonial-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 1170px;
}

.testimonial-item {
    display: inline-block;
    width: 570px;
    margin-top: 48px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    margin-right: 30px;
}

.testimonial-main-text span {
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    margin-top: 28px;
    margin-left: 40px;
    margin-right: 41px;
}

.testimonial-dash {
    width: 30px;
    height: 1px;
    background: #E83136;   
    margin-right: 10px;
}

.testimonial-author {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 45px;
    margin-top: 54px;
}

.testimonial-author span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.load-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    position: relative;
}

.load-more-dash {
    width: 72px;
    height: 1px;
    background: #E83136;   
    margin-right: 10px;
}

.load-more span {
    margin-top: 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
}

.ellipse {
    position: absolute;
    top: 19px;
}

.load-more-arrows {
    position: absolute;
    top: 34px;
}

.questions-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 130px;
    margin-left: 130px;
}

.questions-header {
    display: flex;
}

.questions-header span {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 21px;
    text-align: center;
    margin-top: 64px;
}

.questions-dash {
    width: 970px;
    height: 1px;
    background: #E4E4E4;
    margin-top: 58px;
}

.questions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.questions-item {
    display: flex;
    flex-direction: column;
}

.questions-number span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-right: 27px;
    margin-left: 100px;
}

.questions-title span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}

.questions-main span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.question-text {
    margin-left: 160px;
    margin-right: 100px;
    margin-bottom: 27px;    
}

.to-read {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.to-read span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
}

.to-read-dash {
    width: 124px;
    height: 1px;
    background: #E83136;   
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 109px;
}

.footer-list-dot {
    height: 6px;
    width: 6px;
    background-color: #E83136;
    border-radius: 50%;
    margin-left: 18px;
    margin-right: 18px;
}

.footer-links {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    /* margin-left: 235px;
    margin-right: 235px; */
    width: 75%;
    margin-top: 30px;
}

.footer-list a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.footer-links-content {
    display: flex;
    margin-left: 53px;  
    margin-top: 16px;
    margin-right: 41px;
    margin-bottom: 30px;
}

.link-number {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #E83136;
    margin-right: 31px;
}

.link-uri {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
}

.link-uri span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
}

.statements-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E9EDF8;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    margin-top: 42px;
    /* margin-left: 235px;
    margin-right: 235px; */
    width: 75%;
}

.asterisk {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #E83136;
}   

.statements-block > span:first-child {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-top: 23px;
    margin-right: 30px;
    margin-bottom: 60px;
    margin-left: 30px;
}

.copyright-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.copyright-block span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.add-to-cart-paypal {
    visibility: hidden;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFF;
    margin-top: 109px;
    position: relative;
    width: 100%;
}

.footer-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 928px 50px 0;
    border-color: transparent #F2F6FF transparent transparent;
    position: absolute;
    top: -19px;
    left: 977px;
}

/* .footer:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0;
    border-top: 81px solid white;
    border-left: 1510px solid #F9FAFF;
} */

@media screen and (max-width: 768px) {
    .main {
        width: 768px;
    }
    .header-text {
        text-align: center;
        font-size: 26px;
    }
    .video-block {
        width: 280px;
        height: 250px;
    }
    .product-container {
        margin-right: 0;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .product-item {
        width: 280px;
        margin-right: 0;
        margin-left: 0;
    }
    .product-header {
        margin-right: 0;
        margin-left: 0;
    }
    .add-to-cart-button {
        width: 260px;
    }
    .payment-container {
        height: auto;
        flex-direction: column;
        margin-left: 0;
    }
    .product-best-value-wrapper {
        height: auto;
    }
    .we-accept-block {
        width: auto;
        height: auto;
        flex-direction: column;
        margin-right: 0;
    }
    .shipping-block {
        width: auto;
        margin-right: 0;
    }
    .shipping-block span {
        font-size: 16px;
    }
    .testimonial-list {
        flex-wrap: nowrap;
        height: auto;
        align-items: center;
    }
    .testimonial-item {
        width: auto;
        margin-right: 0;
    }
    .questions-block {
        margin-right: 0;
        margin-left: 0;
    }
    .questions-header span {
        font-size: 28px;
    }
    .questions-title span {
        font-size: 20px;
        margin-top: 20px;
    }
    .question-text {
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }
    .questions-number span {
        margin-left: 20px;
    }
    .product-image-wrapper {
        width: auto;
    }
    .footer-list {
        flex-direction: column;
        margin-top: 50px;
    }
    .footer-links {
        margin-left: 0;
        margin-right: 0;
    }
    .statements-block {
        margin-right: 0;
        margin-left: 0;
    }
    .product-best-value-item {
        width: 100%;
    }
    .questions-dash {
        width: 250px;
    }
    .product-best-value-wrapper {
        height: 550px;
    }
    .testimonial-header span {
        font-size: 28px;
    }

    .footer:before {
        border-top-width: 80px;
    }

    .footer-triangle {
        left: 384px;
        border-width: 38px 384px 22px 0;
        top: 21px;
    }
}

@media screen and (max-width: 425px) {
    .main {
        width: 425px;
    }
}


@media screen and (max-width: 375px) {
    .main {
        width: 375px;
    }
}


@media screen and (max-width: 320px) {
    .main {
        width: 320px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .footer:before {
        border-top-width: 74px;
    }

    .footer-triangle {
        left: 764px;
        border-width: 50px 676px 33px 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer:before {
        border-top-width: 95px;
    }

    .footer-triangle {
        left: 640px;
        border-width: 50px 590px 35px 0;
        top: 10px;
    }
}

@media screen and (max-width: 320px) {
    .footer:before {
        border-top-width: 86px;
    }

    .footer-triangle {
        left: 161px;
        border-width: 28px 159px 12px 0;
        top: 51px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .footer:before {
        border-top-width: 86px;
    }

    .footer-triangle {
        left: 186px;
        border-width: 28px 189px 12px 0;
        top: 48px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .footer:before {
        border-top-width: 86px;
    }

    .footer-triangle {
        left: 205px;
        border-width: 28px 220px 12px 0;
        top: 48px;
    }
}