body {
    margin: auto;
    padding: auto;
    min-width: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 66px;
}

.header span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 21px;
}

.section-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 28px;
}

.section-header {
    margin-bottom: 19px;
}

.section-header span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 21px;
}

.sections {
    display: flex;
    flex-direction: column;
    /* margin-right: 335px; */
    /* margin-left: 335px; */
    width: 90%;
}

.section-content span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.service-reasons {
    margin-top: 16px;
    margin-bottom: 31px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFF;
    margin-top: 109px;
    position: relative;
    width: 100%;
}

.footer-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 928px 50px 0;
    border-color: transparent #F2F6FF transparent transparent;
    position: absolute;
    top: -19px;
    left: 977px;
}

/* .footer:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0;
    border-top: 81px solid white;
    border-left: 1510px solid #F9FAFF;
} */

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.footer-list-dot {
    height: 6px;
    width: 6px;
    background-color: #E83136;
    border-radius: 50%;
    margin-left: 18px;
    margin-right: 18px;
}

.footer-list a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.link-number {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #E83136;
    margin-right: 31px;
}

.link-uri span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
}

.statements-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E9EDF8;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    margin-top: 42px;
    width: 75%;
}

.asterisk {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #E83136;
}   

.statements-block > span:first-child {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-top: 23px;
    margin-right: 30px;
    margin-bottom: 60px;
    margin-left: 30px;
}

.copyright-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.copyright-block span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .header span {
        font-size: 36px;
    }
    .sections {
        margin: 0;
    }
    .section-header {
        text-align: center;
    }
    .section-header span {
        font-size: 18px;
    }
    .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-item {
        align-items: center;
    }
    .footer-list {
        flex-direction: column;
        height: 190px;
        justify-content: space-between;
    }

    .footer:before {
        border-top-width: 80px;
    }

    .footer-triangle {
        left: 384px;
        border-width: 38px 384px 22px 0;
        top: 21px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .footer:before {
        border-top-width: 74px;
    }

    .footer-triangle {
        left: 764px;
        border-width: 50px 676px 33px 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer:before {
        border-top-width: 82px;
    }

    .footer-triangle {
        left: 538px;
        border-width: 50px 486px 22px 0;
        top: 10px;
    }
}

@media screen and (max-width: 320px) {
    .footer:before {
        border-top-width: 86px;
    }

    .footer-triangle {
        left: 161px;
        border-width: 28px 159px 12px 0;
        top: 51px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .footer:before {
        border-top-width: 86px;
    }

    .footer-triangle {
        left: 186px;
        border-width: 28px 189px 12px 0;
        top: 48px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .footer:before {
        border-top-width: 86px;
    }

    .footer-triangle {
        left: 205px;
        border-width: 28px 220px 12px 0;
        top: 48px;
    }
}