html,
body {
    margin: auto;
    padding: auto;
    background: linear-gradient(66.15deg, #f2f5ff -3.56%, #fbfcff 88.7%);
    min-width: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
}

.expires-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: linear-gradient(90deg, #081f65 0%, #4154ad 100%);
}

.expires-in > span:first-child {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 15px;
}

.expire-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    display: flex;
}

.expire-time-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #ffffff;
    border-radius: 6px;
    margin-right: 5px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #e4434e;
}

.offer-with-price {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 18px;
}

.special-offer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-offer span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.price-with-discount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.original-price {
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #e4434e;
    text-decoration-line: line-through;
    font-weight: 300;
}

.discount-percentage {
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 300;
}

.order-block {
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.choose-order {
    display: flex;
    width: 570px;
    height: 740px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
    margin-right: 30px;
}

.order-product-group {
    width: 240px;
    margin-top: 36px;
}

.free-shipping-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    background-color: #e4434e;
    border: none;
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 36px;
    margin-right: 30px;
    border: 2px solid rgba(44, 64, 146, 0.16);
    box-sizing: border-box;
    border-radius: 6px;
}

.free-shipping-btn-bold-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.free-shipping-btn-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.steps {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
}

.first-step-wrapper {
    display: flex;
    position: relative;
}

.first-step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 36px;
    margin-left: 36px;
    margin-right: 16px;
    border: 2px solid rgba(44, 64, 146, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
}

.first-step:after {
    content: "";
    position: absolute;
    left: 127px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 14px solid transparent;
}

.first-step:before {
    content: "";
    position: absolute;
    left: 127px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 9px solid rgba(44, 64, 146, 0.1);
    border-bottom: 17px solid transparent;
}

.first-step-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.choose-order-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.supply-list {
    position: relative;
    margin-top: 30px;
}

.supply-item {
    display: flex;
    align-items: center;
    margin-bottom: 41px;
    width: 570px;
    height: 93px;
}

.supply-price {
    display: flex;
}

.supply-price-wrapper {
    display: flex;
    flex-direction: column;
}

.supply-discount-price {
    display: flex;
}

.supply-radiobtn {
    width: 24px;
    height: 24px;
    border: 2px solid rgba(44, 64, 146, 0.16);
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 25px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supply-radiobtn img {
    user-select: none;
    pointer-events: none;
}

.supply-radiobtn-checked {
    background: #2c4092;
    border: 2px solid #2c4092;
    box-sizing: border-box;
    border-radius: 6px;
}

.supply-period {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-right: 284px;
}

.supply-price-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2d4193;
}

.supply-discount-percentage {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #e4434e;
    margin-right: 187px;
}

.supply-discount-price-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #e4434e;
}

.supply-best-seller-item {
    position: relative;
    background: rgba(45, 65, 147, 0.03);
    display: flex;
    align-items: center;
    margin-bottom: 41px;
    width: 570px;
    height: 93px;
    background: rgba(45, 65, 147, 0.03);
    border: 2px solid #2d4193;
    box-sizing: border-box;
    border-radius: 3px;
}

.best-seller-block {
    position: absolute;
    top: 120px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c4092;
    border-radius: 6px;
    width: 130px;
    height: 28px;
}

.best-seller-block span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
}

.contact-information {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 1025px;
    background-color: white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
    position: relative;
}

.second-step-wrapper {
    display: flex;
    position: relative;
    margin-top: 26px;
}

.second-step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 36px;
    margin-left: 36px;
    margin-right: 16px;
    border: 2px solid rgba(44, 64, 146, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
}

.second-step:after {
    content: "";
    position: absolute;
    left: 127px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 14px solid transparent;
}

.second-step:before {
    content: "";
    position: absolute;
    left: 127px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 9px solid rgba(44, 64, 146, 0.1);
    border-bottom: 17px solid transparent;
}

.second-step-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.contact-information-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.third-form {
    width: 0;
    height: 0;
}

.third-form input {
    visibility: hidden;
}

.form-block {
    /* display: flex; */
    flex-wrap: wrap;
    margin-top: 38px;
}

#country-flag {
    position: absolute;
    left: 488px;
    top: 182px;
}

.form-input {
    flex: 0 50%;
    width: 240px;
    height: 48px;
    border: 2px solid rgba(44, 64, 146, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.form-input-full-width {
    width: 90%;
}

.form-input::placeholder {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

.form-input {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
}

.form-input:focus {
    outline-width: 0;
}

.third-step-wrapper {
    display: flex;
    position: relative;
    margin-top: 26px;
}

.third-step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 36px;
    margin-left: 36px;
    margin-right: 16px;
    border: 2px solid rgba(44, 64, 146, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
}

.third-step:after {
    content: "";
    position: absolute;
    left: 127px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 14px solid transparent;
}

.third-step:before {
    content: "";
    position: absolute;
    left: 127px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 9px solid rgba(44, 64, 146, 0.1);
    border-bottom: 17px solid transparent;
}

.third-step-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.shipping-details {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.shipping-form {
    display: flex;
    margin-top: 38px;
}

.fourth-step-wrapper {
    display: flex;
    position: relative;
    margin-top: 26px;
}

.commissions {
    border-radius: 3px;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/public/images/commissions.png");
    width: 170px;
    position: absolute;
    left: 410px;
    height: 33px;
}

.rectangle-commissions {
    position: absolute;
    top: 33px;
    left: 160px;
}

.commissions-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.commissions-mobile {
    display: none;
}

.fourth-step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 36px;
    margin-left: 36px;
    margin-right: 16px;
    border: 2px solid rgba(44, 64, 146, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
}

.fourth-step:after {
    content: "";
    position: absolute;
    left: 127px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 14px solid transparent;
}

.fourth-step:before {
    content: "";
    position: absolute;
    left: 127px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 9px solid rgba(44, 64, 146, 0.1);
    border-bottom: 17px solid transparent;
}

.fourth-step-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.payment-details {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.paypal-block {
    display: flex;
    height: 172px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fdf6cf;

    border-radius: 3px;
    margin-top: 29px;
}

.paypal-header {
    display: flex;
    align-items: center;
}

.paypal-header span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.paypal-logo {
    margin-left: 21px;
}

.paypal-btn {
    width: 510px;
    height: 64px;
    margin-top: 21px;
    background: linear-gradient(360deg, #e16808 -7.81%, #ffa526 100%);
    border: 1px solid #e56f0b;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
    inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
}

.paypal-btn i {
    visibility: hidden;
    color: white;
    font-size: 28px !important;
}

.paypal-btn span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
}

.security-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.security-header span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

.security-logo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: 30px;
    margin-right: 40px;
}

.security-logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 84px;
    background: rgba(45, 65, 147, 0.03);
    border-radius: 3px;
    margin-right: 10px;
}

.order-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 24px;
    background: rgba(45, 65, 147, 0.03);
    border-radius: 0px 0px 6px 6px;
    text-align: center;
}

.order-footer span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 78px;
    align-items: center;
    margin-top: 42px;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.dmca-block {
    margin-left: 135px;
}

.reserved-block {
    margin-right: 135px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.footer-links a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #2d4193;
}

.reserved-block span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.iti__country-list {
    width: 240px;
}

.paypal-form {
    width: 0;
    height: 0;
}

.second-form {
    width: 0;
    height: 0;
}

.second-form input {
    visibility: hidden;
}

.paypal-form input {
    visibility: hidden;
}

.iti__country-name,
.iti__dial_code {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    opacity: 0.5;
}

@media screen and (max-width: 1200px) {
    .main {
        width: 100%;
    }

    .special-offer span {
        font-size: 21px;
    }

    .price {
        font-size: 18px;
        line-height: 24px;
    }

    .expire-time {
        width: auto;
    }

    .expires-in {
        width: 100%;
    }

    .price-with-discount {
        text-align: center;
    }

    .offer-with-price {
        background-color: white;
        width: 100%;
    }

    .order-block {
        margin-top: 0;
        flex-direction: column;
    }

    .free-shipping-btn {
        width: auto;
    }

    .choose-order {
        width: 100%;
    }

    .order-product-group {
        margin-top: 36px;
    }

    .first-step-wrapper,
    .second-step-wrapper,
    .third-step-wrapper,
    .fourth-step-wrapper {
        flex-direction: column;
        margin-left: 16px;
    }

    .first-step,
    .second-step,
    .third-step,
    .fourth-step {
        margin: 0;
    }

    .first-step:after,
    .first-step:before {
        left: 91px;
    }

    .second-step:after,
    .second-step:before {
        left: 91px;
    }

    .third-step:after,
    .third-step:before {
        left: 91px;
    }

    .fourth-step:after,
    .fourth-step:before {
        left: 91px;
    }

    .supply-price {
        flex-direction: column;
    }

    .paypal-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .supply-discount-price {
        flex-direction: column;
    }

    .supply-period {
        margin: 0;
    }

    .supply-period span {
        font-size: 16px;
    }

    .supply-discount-price span {
        font-size: 16px;
    }

    .supply-best-seller-item {
        width: 100%;
    }

    .supply-discount-percentage {
        margin: 0;
    }

    .supply-item {
        width: 100%;
        height: 109px;
        margin-bottom: 20px;
    }

    .best-seller-block {
        left: 0;
        top: 239px;
        width: 100%;
        border-radius: 0%;
    }

    .supply-best-seller-item {
        height: 111px;
    }

    .supply-period {
        font-size: 16px;
    }

    .supply-price-text {
        font-size: 16px;
    }

    .choose-order {
        background-color: white;
        margin-right: 0;
    }

    .contact-information {
        box-shadow: none;
        width: 100%;
    }

    .form-input {
        width: 95%;
        margin-left: 16px;
        margin-right: 16px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .order-footer {
        margin-top: 16px;
        text-align: center;
    }

    .security-header {
        text-align: center;
    }

    .security-logo-list {
        margin-right: 0;
        margin-left: 0;
    }

    .security-logo-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .security-logo-item img {
        width: 60px;
        height: 24px;
    }

    .footer {
        margin-top: 370px;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 215px;
    }

    .dmca-block,
    .reserved-block {
        margin: 0;
    }

    .footer-links {
        flex-direction: column;
    }

    .commissions {
        display: none;
    }

    .commissions-mobile {
        display: flex;
        justify-content: center;
        background: #e4434e;
        width: 100%;
        position: unset;
        margin-top: 19px;
        height: 36px;
        border-radius: 0;
    }

    .paypal-block {
        margin-top: 0;
    }

    .paypal-btn {
        width: 100%;
    }

    .free-shipping-btn {
        width: 100%;
        border-radius: 0%;
        margin: 0;
    }

    .iti {
        width: 95%;
        margin-bottom: 0 !important;
        margin-left: 16px !important;
        margin-right: 16px !important;
    }

    #phone {
        width: 100% !important;
    }
}

@media screen and (max-width: 320px) {
    .main {
        width: 320px;
    }
    .new-line {
        display: none;
    }
}

.iti {
    margin-left: 30px;
    margin-bottom: 20px;
}

.iti__flag {
    background-image: url("/public/images/flags.png") !important;
}
