html,
body {
    margin: auto;
    background: linear-gradient(66.15deg, #f2f5ff -3.56%, #fbfcff 88.7%);
    min-width: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #081F65 0%, #4154AD 100%);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.thank-you-block {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin-top: 68px;
    align-items: center;
}

.thank-you-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thank-you-header span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
}

.thank-you-text-block {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    padding: 50px;
}

.thank-you-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
}

.bold {
    font-weight: bold;
}

.thank-you-footer {
    display: flex;
    padding: 50px 113px 80px;
    flex-direction: column;
}

.book-block-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    border: 2px dashed red;
    padding: 2px;
    width: 90%;
}

.book-block {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #081F65 0%, #4154AD 100%);
    justify-content: space-around;
}

.book {
    margin-bottom: -4px;
}

.bonuses-title span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bonuses-item span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 48px;
    color: #FFFFFF;
}

.bonuses-item img {
    width: 28px;
}

.download-wrapper {
    display: flex;
}

.download-instruction {
    display: flex;
    flex-direction: column;
}

.download-btn {
    width: 230px;
    height: 64px;
    background: linear-gradient(360deg, #E16808 -7.81%, #FFA526 100%);
    border: 1px solid #E56F0B;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    cursor: pointer;
}

.download-btn span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.instruction-title span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
}

.instruction-text span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
}

.signature {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 45px;
}

.signature-name {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
}

.pdf-reader {
    display: flex;
    flex-direction: column;
}

.reader-title i {
    color: #2D4193;
}

.reader-link a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #2D4193;
    cursor: pointer;
}

.reader-title span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 78px;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    margin-top: 68px;
}

.dmca-block {
    margin-left: 135px;
}

.reserved-block {
    margin-right: 135px;
}

.reserved-block span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.footer-links a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #2d4193;
}

@media screen and (max-width: 1200px) {
    .thank-you-header {
        text-align: center;
    }

    .thank-you-text-block {
        height: auto;
    }

    .download-wrapper {
        flex-direction: column;
    }



    .book-block {
        flex-direction: column;
        padding: 20px;
    }

    .bonuses {
        text-align: center;
    }

    .book {
        display: none;
    }

    .bonuses-list {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .download-btn {
        width: auto;
    }

    .footer {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 215px;
    }

    .dmca-block,
    .reserved-block {
        margin: 0;
    }

    .footer-links {
        flex-direction: column;
    }
}

@media screen and (max-width: 714px) {
    .book-block {
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    .thank-you-block {
        width: auto;
    }
}

@media screen and (max-width: 425px) {
    .thank-you-footer {
        padding: 10px;
    }
    .thank-you-text-block {
        padding: 10px;
    }
    .pdf-reader {
        margin-top: 30px;
    }

    .reader-title {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .reader-link {
        display: flex;
        justify-content: center;
    }

    .signature {
        align-items: center;
    }
}

@media screen and (max-width: 345px) {
    .thank-you-footer {
        padding: 0;
    }

    .download-instruction {
        text-align: center;
    }

    .reader-link a {
        font-size: medium;
    }

    .bonuses-title span {
        font-size: 26px;
    }

    .bonuses-item span {
        font-size: 20px;
        line-height: 35px;
    }
}