body {
    margin: auto;
    padding: auto;
    min-width: fit-content;
    background: linear-gradient(66.15deg, #F2F5FF -3.56%, #FBFCFF 88.7%);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 66px;
}

.header span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 21px;
}

.section-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 28px;
}

.section-header {
    margin-bottom: 19px;
}

.section-header span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 21px;
}

.sections {
    margin-right: 335px;
    margin-left: 335px;
}

.section-content span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.service-reasons {
    margin-top: 16px;
    margin-bottom: 31px;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 109px;
}

.footer-list-dot {
    height: 6px;
    width: 6px;
    background-color: #E83136;
    border-radius: 50%;
    margin-left: 18px;
    margin-right: 18px;
}

.footer-list span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.link-number {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #E83136;
    margin-right: 31px;
}

.link-uri span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
}

.statements-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E9EDF8;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(166, 173, 201, 0.15);
    border-radius: 20px;
    margin-top: 42px;
}

.asterisk {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #E83136;
}   

.statements-block > span:first-child {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-top: 23px;
    margin-right: 30px;
    margin-bottom: 60px;
    margin-left: 30px;
}

.copyright-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.copyright-block span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

@media (max-width: 320px) {
    .header span {
        font-size: 36px;
    }
    .sections {
        margin: 0;
        width: 320px;
    }
    .section-header {
        text-align: center;
    }
    .section-header span {
        font-size: 18px;
    }
    .section-content {
        text-align: center;
    }
    .section-item {
        align-items: center;
    }
    .footer-list {
        margin-top: 0;
        flex-direction: column;
        height: 190px;
        justify-content: space-between;
    }
}